{% for food in foods %}
	<div class="food {%cycle 'leftcol' 'rightcol' %}">
		<div class="food-name"><a href="/food/{{ food.id }}/"><strong>{{food.name}}</strong></a></div>
		<div class="food-price">Price: ${{food.cost}}</div>
		<div class="food-pic">
			{% if food.image != 'None'%}
				<img src='/media/food/{{food.image}}' />
			{% else %}
				<img src='/media/food/none.jpg' />
			{% endif %}
		</div>
		<div class="food-info">
			<p class="descrip">{{food.description|truncatewords:10}}</p>
			<div class="food-link" style="color:#222">
				<span class="food-order" style="text-decoration:underline; cursor:pointer;">I want it</span>
				<div class="hidden" style="display:none;">
                                {% if user.is_authenticated %} 
					<form method='post' action='' class="order"> {% csrf_token %}
						<strong>Amount:&nbsp;&nbsp;</strong><input class="amount" type='text' name='amount' style='text-align:right;' value='1'/>
						<input type='hidden' value='{{food.id}}' name='foodid' />
						<input class="order" type='submit' value='Order' style='position:absolute; right:5px;'/>
					</form>
                                {% else %}
                                        <p>please login first.</p>
                                {% endif %}
				</div>
				<span>&nbsp;&nbsp;</span>
				<a href="/food/{{food.id}}/">more info</a>
			</div>

			<span class="statistic">
				<span>Ordered Amounts:{{food.book}}&nbsp;&nbsp;</span>
				<span>Click: {{food.click}}</span>
			</span>

			<br class="clear" />
		</div>
		<br class="clear" />
	</div>
{% endfor %}
