{% extends 'form_home_base.html' %}
{% block title %}
	Local Bank
{% endblock %}

{% block style_js %}
{% endblock %}

{% block form_up %}
<h1>Local Bank Service</h1>	
<p>
<!--&nbsp;&nbsp;&nbsp;&nbsp;-->
Here, you can manage a small bank in our site.
Through it, more convenient it will be for you to get services here.
But of course, it's not a must.
</p>
{% endblock %}

{% block submit %}
	<p>You have {{money}} in your local bank.Now.</p>
	<input type='submit' value='Comfirm' class='default' />
{% endblock %}
