<div class="pages_link" style="width:100%; margin:30px;" align=center>
	<span style="color: #000000; font-family: Courier New; font-size: 14px;">页面:&nbsp;</span>

	<span>
	{% if page != 1 %}
		<a href="{{link}}/{{page|add:'-1'}}"><button>前一个</button></a>
	{% else %}
		<button class="useless" disabled="disabled">前一个</button>
	{% endif %}
	</span>

	{% for i in pages %}
	{% if i == page %}
		<span class="page"><a href="{{link}}/{{i}}/" style="color:#880000;">[{{i}}]</a></span>
	{% else %}
		<span class="page"><a href="{{link}}/{{i}}/" style="color:#000088;">[{{i}}]</a></span>
	{% endif %}
	{% endfor %}
	<span>
		{% if page != pages|last %}
			<a href="{{link}}/{{page|add:'1'}}"><button>下一个</button></a>
		{% else %}
			<button class="useless" disabled='disabled'>下一个</button>
		{% endif %}
	</span>
</div>
