{% extends 'base_home.html' %}


{% block head %}
<div id = 'myorder_header'>您好, {{ user.username }}</div>
{% endblock %}

{% block content %}
<div id = 'orders'>
<h1>我的订单:</h1>
{% if orders %}
	{% for order in orders %}
		
		<div class='order'>
		<div class='order_header'>
			
		</div>
		{% for item in order.orderitem_set.all %}
		<span class='orderitem1'><strong>食物</strong>:{{item.menu.name}}</span>
		<span class='orderitem2'><strong>数量</strong>:{{item.amount}}</span>
		{% endfor %}
		</div>

	{% endfor %}
{% else %}
<p>没有记录</p>
{% endif %}
</div>
{% endblock %}
