<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="/static/image/python.ico" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/admin/css/base.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/admin/css/forms.css" />
		<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.infopad.js"></script>
		{% block extra_head %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
