	<div id="foot-container">
		<p>
			<br /><img src="/static/image/haha.jpg" alt="" height="121" width="98"/>
		</p>
		<div id="foot-left">

			<div>
				<h3>关于我们</h3>
				<ul>
					<li>成员</li>
					<li>历史</li>
					<li>进展</li>
				</ul>
			</div>

			<div>
				<h3>联系我们</h3>
				<ul>
					<li>110</li>
					<li>119</li>
					<li>dengnima@gmail</li>
				</ul>
			</div>
			<br class="clear" />
		</div>
		<div id="foot-right">
			<div>
				<h3>加入我们</h3>
				<ul>
					<li>开发组</li>
					<li>测试组</li>
					<li>设计组</li>
				</ul>
			</div>

			<div>
				<h3>帮助</h3>
				<ul>
					<li>如何订购</li>
					<li>如何开户</li>
					<li>其他</li>
				</ul>
			</div>
			<br class="clear" />
		</div>
	</div>
<br class="clear" />
