	<div id="foot-container">
		<p>
			<a href="http://validator.w3.org/check?uri=referer"><img src="/static/image/valid-xhtml10.png" alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
			<br /><img src="/static/image/opensource-110x95.png" alt="" />
		</p>
		<div id="foot-left">

			<div>
				<h3>About us</h3>
				<ul>
					<li>History</li>
					<li>Power</li>
					<li>Influence</li>
				</ul>
			</div>

			<div>
				<h3>Contact us</h3>
				<ul>
					<li>24h Phone</li>
					<li>VIP line</li>
					<li>E-mail support</li>
				</ul>
			</div>
			<br class="clear" />
		</div>
		<div id="foot-right">
			<div>
				<h3>Join us</h3>
				<ul>
					<li>Jobs</li>
					<li>Gates</li>
					<li>Salary</li>
				</ul>
			</div>

			<div>
				<h3>Get help</h3>
				<ul>
					<li>Tutorial</li>
					<li>Pay methods</li>
					<li>Feedback</li>
				</ul>
			</div>
			<br class="clear" />
		</div>
	</div>
<br class="clear" />
<p class="bottom">
	Created with <img alt="" src="/static/image/django.ico" />Django, Show our respects to the <img style="width:16px;height:16px" alt="" src="/static/image/python.ico" />Python Foundation
</p>
